.content {
    /* todo: 8em value should be dynamic in Javascript */
    height: calc(100vh - 8em);
    overflow: auto;
    scrollbar-width: none; /* hide scrollbar - Firefox */
}

::-webkit-scrollbar {
    width: 0;
    background: transparent; /* make scrollbar transparent - Chrome */
}

table.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
}

table.content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    user-select: none;
}

table.content-table th, table.content-table td {
    padding: 12px 15px;
}

table.content-table a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

table.content-table a:link {
    color: #009879;
}

table.content-table a:focus {
    border-bottom: 1px solid;
    background: #BAE498;
}

table.content-table a:hover {
    border-bottom: 1px solid;
    background: #CDFEAA;
}

table.content-table a:active, table.content-table a:visited {
    color: #009879;
}

/* Footer */

/* SCREEN */
footer {
    font-size: 0.9em;
    font-family: sans-serif;
    color: dimgray;
    padding: 0.5em;
    background-color: whitesmoke;
    position: fixed;
    min-height: 6em;
    left: 0;
    bottom: 0;
    width: 100%;
}

@media only screen and (min-device-width: 801px) {

    .inner-footer {
        position: absolute;
        float: left;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .personal-footer,
    .kata-footer,
    .kyu-footer,
    .languages-footer {
        float: left;
        margin: 1em;
    }

    .personal-footer span {
        display: block;
    }

    .kata-footer span {
        display: table;
        margin: 0 auto;
        font-size: 2em;
    }

    .kyu-footer .total-kyu,
    .languages-footer .total-kata {
        /*position: relative;*/
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .kyu-footer .footer-col,
    .languages-footer .footer-col {
        float: left;
        margin: 1px;
        padding: 0 0.5em;
        border-left: 1px solid black;
    }

    .kyu-footer .footer-row-1,
    .languages-footer .footer-row-1 {
        font-weight: bold;
    }

    .kyu-footer .footer-row-2,
    .languages-footer .footer-row-2 {
        float: right;
        padding-left: 0.5em;
    }

    .buymeacoffee-button {
        /*position: absolute;*/
        float: right;
        bottom: 0;
        right: 0;
        margin: 1em 2em 1em 1em;
    }
}

/* MOBILE */
@media only screen and (max-device-width: 800px) {
    .inner-footer {
        display: table;
        margin: 0 auto;
    }

    .personal-footer,
    .kata-footer,
    .kyu-footer,
    .languages-footer {
        float: left;
        margin: 1em;
    }

    .personal-footer span {
        display: block;
    }

    .kata-footer span {
        display: table;
        margin: 0 auto;
        font-size: 2em;
    }

    .kyu-footer .footer-col, .languages-footer .footer-col {
        float: left;
        margin: 1px;
        padding: 0 0.5em;
        border-left: 1px solid black;
    }

    .kyu-footer .footer-row-1, .languages-footer .footer-row-1 {
        font-weight: bold;
    }

    .kyu-footer .footer-row-2, .languages-footer .footer-row-2 {
        float: right;
        padding-left: 0.5em;
    }

    .bmc-btn-container {
        display: table;
        margin: 0 auto;
    }
}
