<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" rel="stylesheet" href="assets/css/home.css">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
<div class="content">
    <table class="sortable">
        <thead>
        <tr>
            <th>Title</th>
            <th>Language</th>
            <th>Kyu</th>
            <th>Solution</th>
            <th>Repository</th>
        </tr>
        </thead>
        <tbody>
        {% for data in table %}
        <tr>
            <td>{{ data['title'] }}</td>
            <td>{{ data['lang'] }}</td>
            <td>{{ data['kyu'] }}</td>
            <td><a href="{{ data['solution'] }}">html</a>, <a href="{{ data['repo'] }}solution.{{ data['ext'] }}">{{ data['ext']
                }}</a>, <a href="{{ data['kata'] }}">kata</a></td>
            <td><a href="{{ data['repo'] }}">Github</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <script type="text/javascript" src="assets/js/home.js"></script>
</div>
</body>
</html>